@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Design System */
body {
  @apply bg-light text-gray-900;
}

html {
  scroll-behavior: smooth;
}

/* This creates a buffer so the fixed navbar doesn't cover the section content */
section[id] {
  scroll-margin-top: 120px; /* Adjust this based on your navbar's height */
}

#contact, #properties {
  scroll-margin-top: 100px;
}